body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    min-height: 100vh;
    }

    #app {
        width: 100%;
        max-width: 750px;
        background: #ffffff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
        }
        
        
        h1 {
        margin-top: 0;
        }
        
        
        .section {
        margin-top: 40px;
        }
        
        
        .project {
        margin: 16px 0;
        }